
<div data-controller="chat" class="flex items-center justify-center mt-16">
  <div class="flex flex-col items-center space-y-10">
    <div class="moon-container flex justify-center">
      <div class="moon"></div>
    </div> 
    <div class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center space-y-4 w-full overflow-y-auto overflow-x-hidden border-8 border-gray-300">
      <div data-chat-target="chat" class="w-96 h-72 overflow-y-auto overflow-x-hidden bg-white rounded-lg flex flex-col shadow-inner"></div>
      <button data-action="click->chat#capture" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded hover:bg-blue-700 transition duration-150">Take Screenshot</button>
      
      <input data-chat-target="chatInput" />
      <button data-action="click->chat#sendMessage">hello</button>

      <video data-chat-target="video" class="rounded-lg shadow-lg w-full "></video>
      <canvas data-chat-target="canvas" class="rounded-lg shadow-lg border border-gray-300 w-full "></canvas>
    </div>
  </div>
</div>

