<div data-controller="webcam">
  <video data-webcam-target="video" autoplay></video>
  <button data-action="webcam#capture">Take Screenshot</button>
  <canvas data-webcam-target="canvas"></canvas>
</div>
